html {
    font-family: 'Roboto', sans-serif;
}
.header {
    padding: 25px;
    display: flex;
    justify-content: left;
    background-color: silver;
}

button {
    padding: 20px;
    margin: 10px;
    border-style: none;
    background-color: black;
    color: silver;
    width: 150px;

}

button:hover{
    cursor: pointer;
    background-color: rgb(82, 66, 66);
}

.content{
    padding: 15px;
}

.content li {
    background-color: brown;
    padding: 15px;
    margin-bottom: 1px;
    color: white;
    text-justify: newspaper;
}

.content li:hover{
    cursor: pointer;
    background-color: rgb(126, 19, 19);
}

table {
  height: 100%;
   width: 100%;
   valign: middle;
   align: center;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-style: none;
  }
  th, td {
    padding: 10px;
    text-justify: auto;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    font-style: italic;
    border-style: none;
  }
  
tr:nth-child(even) {
  background-color: #eee;
  border-style: none;
}

tr:nth-child(odd) {
 background-color: silver;
 border-style: none;
}
th {
  background-color: black;
  color: white;
  border-style: none;
}

ol li { 
  /*border-right: 1px  solid black; */
  padding: 0 .5em; 
  padding: 10px;
  text-justify: auto;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  font-style: italic;
}

 /* ol li:last-child { border: 0; }*/

 #map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }

 .info {
  padding: 1rem;
  margin: 0;
}

.info.error {
  color: #fff;
  background: #dc3545;
}

tr:hover {background-color:#f3ffae;}
